<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    >
    <title><%=title%></title>

    <link
      rel="stylesheet"
      href="/dist/output.css"
    >
  </head>

  <body class="bg-background">

    <%- include('../organisms/header'); -%>
    <main class="flex flex-col items-center justify-center gap-4 h-lvh w-full">
      <%- body %>
    </main>
    <%- include('../organisms/footer'); -%>

    <script src="/dist/client/scripts.bundle.cjs"></script>
  </body>

</html>